@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
  margin: 0;
  padding: 0;
  text-align: center;
}




.background_image{
  background-image: url(/IMG/horse.jpeg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


.main_content{
  position: relative;

  margin-top: -5%;
  color: black;
  padding: 100px 20px;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 

}

.background_image p{
  width: 50%;
  position: relative;
  left: 25%;
}
.button{
  position: relative;
  margin-top: -5%;
  height: 0%;
  width: 100%;

}















  